@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
	font-family: 'Roboto', sans-serif; 
	margin: 0px;
	background-color: #FAFAFA;
}

.container { 
	display: flex; 
	align-items: center;
	justify-content: center;
	height: 100%
}

.panel {
	display: flex;
	min-height: 85vh;
	top: -2.5vh;
	position: relative; 
	border-radius: 10px; 
	box-shadow: 0px 0px 14px rgba(0,0,0,0.2);
	margin-top: 80px;
	margin-bottom: 40px;
	width: 85%;
	height: 80%;
	flex-direction: row;
}

.col { 
	min-height: 100%;
}

.left { 
	width: 38%;
	background-image: url(https://images.pexels.com/photos/2098427/pexels-photo-2098427.jpeg);   
	background-size: cover;
	border-color: 2px solid black;
	border-radius: 10px 0px 0px 10px;
	color: #FFF;
}

.left-content { 
	height: 100%;
	width: 100%; 
	background-image: radial-gradient(rgba(199, 56, 161, 0.5), rgba(199, 56, 161, 0.4));
	border: 0.01px solid #FFF;
	border-color: 2px solid black;
	border-radius: 10px 0px 0px 10px;
}

.left-content h3 {
	font-weight: 700;
	font-size: 1.15rem;
	padding: 4vh 1vw 0vh 2vw;
	margin-bottom: 1rem;
}

.left-content p { 
	font-weight: 500;
	color: rgba(255,255,255,0.7);
	font-size: 0.9rem;
	padding: 0px 5vw 0px 2vw;
}
.right { 
	width: 60%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-content { 
	width: 70%;
	max-width: 320px;
	display: flex; 
	flex-direction: column;
	justify-content: center;
}

.right-content h3 {
	font-weight: 700;
	font-size: 1.15rem;
}

.services-row {
	display: flex;
	align-items: center;
	justify-content: center;

}

.services-row .circle-button {
	border-radius: 50%;
	border: 1px solid #EFEFEF;
	color: #333 !important;
	font-size: 12pt;
	padding: 0.15rem;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: 0px 5px;
}

.services-row .circle-button:active {
	box-shadow: inset 0px 0px 8px rgba(0,0,0,0.1);
}
.hr-text {
	margin: 20px 0px;
	color: #ABABAB;
	font-size: 0.7rem;
	font-weight: 300;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hr-text div {
	width: 100%;
}

.hr-text span {
	padding: 0px 1rem;
}

hr { 
	border: 0px;
	border-top: 1px solid #EFEFEF;
}

.form-container {
	text-align: left;
}

.form-group {
	width: 100%;
}

.form-container p {
	font-size: 0.75rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

a { 
	color:rgba(199, 56, 161, 1);
	text-decoration: none;
}

label {
	display: block;
	font-weight: 600;
	font-size: 0.8rem;
	margin-bottom: 0.75rem;
}

.inpt { 
	width: 100%;
	margin-bottom: 0.75rem;
	height: 30px;
	background-color: #F6F6F6;
	border-radius: 3px;	
	border: 0px;
	padding-left: 10px;
	font-size: 9pt;
	font-weight: 400;
	color: #333;
}

.inpt:focus {
	background-color: #F9F9F9;
	border: 1px solid #CCC;
}

.btns {
	margin-top: 1rem;
}

.btn {
	background-color: rgba(199, 56, 161, 1);
	border: none;
	color: #FFF;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 0.8rem;
	height: 35px;
	padding: 0px 1rem;
	border-radius: 3px;
	cursor: pointer;
}

.btn:active {
	box-shadow: inset 0px 0px 8px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 724px)  {
	.left {
		width: 100%;
		min-height: 160px;
		border-radius: 10px 10px 0px 0px;
		background-image: url('https://images.pexels.com/photos/1142950/pexels-photo-1142950.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
		background-size: cover;
	}
	.left-content {
		min-height: 160px;
		border-radius: 10px 10px 0px 0px;
		text-align: center;
		padding-bottom: 20px;
	}
	.left-content h3, p {
		margin-left: 20px;
		margin-right: 20px;
	}
	.left-content p {
		font-size: 0.85rem;
		font-weight: light;
	}
	.right {
		width: 100%;
		padding-top: 30px;
	}
	.right-content {
		width: 80%;
		margin-bottom: 40px;
	}
	.container {
		display: flex;
		align-items:top;
	}
	.panel {
		height:100%;
		width: 95%;
		height: auto;
		flex-direction: column;
	}
}
